*{
    padding:0px;
    margin: 0px;
}
.container{
    background-image: linear-gradient(24deg,rgb(192, 223, 233) ,white, rgb(192, 223, 233));
    font-family: 'Nunito', sans-serif;
    padding: 10px;
}
.header-text h1{
    color: #2D4767;
}

.header-picture img{
    object-fit: cover;
    object-position: 75% 00%;   
}

.resume-information{
    color: #49423E;
    background-color: #F0F1F3;
    text-align:justify;
}
.project{
    color: rgb(31, 31, 31);
    background-image: linear-gradient(4deg,gray , white,white,white,rgb(210, 210, 210));
}
/* Cellphone */
@media only screen and (max-width:480px){
    .sm-4 {
        width:100%;
    }
    .header-picture{
        box-sizing: border-box;
        padding: 10px;
    }
    .header-picture img {
        width:60%;
        margin: 0px auto;
        display:block;
        border: 5px solid rgb(128, 219, 240);
        border-radius: 10px;
    }
    .header-text{
        text-align: center;
    }
        .header-text h1{
            font-size: 6vw;
        }
        .header-text h2{
            font-size: 4vw;
        }
        .header-text p {
            font-size: 2.5vw;
            padding-bottom: 20px;
        }
    .resume-information {
        margin-top: 2%;
    }
        .resume-information h3{
            font-size: 4vw;
            text-align: center;
            padding-bottom:2%;
        }
        .resume-information p{
            font-size: 3vw;
            padding: 2%;
        }

    .projects-division {
        padding: 5%;
        text-align: center;
    }
        .projects-division h3{
            padding-bottom: 5%;
            font-size: 6vw;
        }
        .projects-division img {
            width:17%;
        }

    .project h3{
        font-size: 7vw;
    }
    .project h4{
        text-align: left;
        font-size: 4vw;
    }
    .project p {
        text-align: left;
        font-size: 4vw;
    }
    .project ul{
        text-align: left;
        padding-left: 5%;
        padding-bottom:5%;
        font-size: 4vw;
    }
    footer{
        padding: 8%;
        box-sizing: border-box;
        text-align: center;
    }
        footer img{
            width: 5%;
            text-align: center;
        }
        footer a{
            font-size: 2.5vw;
            color: black;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

}

/* Tablet */
@media only screen and (min-width:481px){
    .md-4{
        width:100%
    }
    .header-picture{
        padding: 10px;
        width:35%;
        display:inline-block;
        box-sizing: border-box;
    }
    .header-picture img {
        width:100%;
        border: 5px solid rgb(128, 219, 240);
        border-radius: 10px;
    }
    .header-text {
        display: inline-block;
        vertical-align: top;
        width:60%;
        text-align: center;
    }
        .header-text h1{
            font-size: 7vw;
            margin-top: 8.5%;
        }
        .header-text h2{
            font-size: 2.5vw;
        }
        .header-text p {
            font-size: 1.5vw;
            padding-bottom: 20px;
        }
    .resume-information {
        margin-top: 2%;
    }
        .resume-information h3{
            font-size: 4vw;
            text-align: center;
            padding-bottom:2%;
        }
        .resume-information p{
            font-size: 2.4vw;
            padding: 2%;
        }
    .projects-division {
        padding: 5%;
        text-align: center;
    }
        .projects-division h3{
            padding-bottom: 5%;
            text-align: center;
            font-size: 6vw;
        }
        .projects-division img {
            width:9%;
            padding:1%;
        }

    .project h3{
        font-size: 6vw;
    }
    .project h4{
        text-align: left;
        font-size: 3.5vw;
    }
    .project p {
        text-align: left;
        font-size: 3vw;
    }
    .project ul{
        text-align: left;
        font-size:3vw;
        padding-left: 5%;
        padding-bottom:5%;
    }
    footer{
        padding: 8%;
        padding-bottom: 1%;
        box-sizing: border-box;
        text-align: center;
    }
        footer img{
            width: 5%;
            text-align: center;
        }
        footer a{
            font-size: 2vw;
            color: black;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
}

/* Desktop */
@media only screen and (min-width:1024px){
    .container{
        width: 100%;
        margin: 0px auto;
        box-sizing: border-box;
    }

    .header-picture img {
        border: none;
        border-radius: 0px;

    }

    .header-text{
        text-align: left;
        margin-left: 4%;
    }
        .header-text h1{
            font-size: 6vw;
            margin-top: 3%;
        }
        .header-text h2{
            font-size: 2.2vw;
            padding-bottom:5%;
            border-bottom: 5px solid #2D4767;
        }
        .header-text p {
            font-size: 1.8vw;
            padding-top: 5%;
        }
    .resume-information {
        margin-top: 2%;
    }
        .resume-information h3{
            font-size: 4vw;
            text-align: center;
            padding-bottom:2%;
        }
        .resume-information p{
            font-size: 2.4vw;
            padding: 2%;
        }


    .user-projects{
        box-sizing: border-box;
    }
    .projects-division {
        width:50%;
        padding: 5%;
        text-align: center;
        display: inline-block;
        box-sizing: border-box;
        vertical-align: top;
    }
        .projects-division h3{
            padding-bottom: 5%;
            text-align: center;
            font-size: 3vw;
        }
        .projects-division img {
            width:15%;
            padding:1%;
        }

    .project{
        display: inline-block;
        width:49%;
        box-sizing: border-box;
        padding:20px;
        padding-bottom:0px;
    }
        .project h3{
            font-size: 3vw;
        }
        .project h4{
            text-align: left;
            font-size: 3vw;
        }
        .project p {
            text-align: left;
            font-size: 1.5vw;
        }
        .project ul{
            text-align: left;
            font-size:1.5vw;
            padding-left: 5%;
            padding-bottom:5%;
        }
    footer{
        padding: 0% 8% 1% 8%;
        box-sizing: border-box;
        text-align: center;
    }
        footer img{
            width: 5%;
            text-align: center;
        }
        footer a{
            font-size: 2vw;
            color: black;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    
}